<html>
<head>
  {{>head}}
</head>
<body id="register">

<div class="center-wrapper">
  <div class="center">
    <h3>TMY BLOG</h3>
    <form method="post">
      <input name="username" type="text" class="form-control" placeholder="邮箱">
      <input name="password" type="password" class="form-control" placeholder="密码">
      <input id="password1" type="password" class="form-control" placeholder="重复密码"/>
      <div class="pull-right">
        <a class="btn btn-link" href="/account/login">直接登录</a>
        <button class="btn btn-success">注册</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>